#sign-up-text {
    padding-top: 100px;
}
#email-password {
    padding-top: 100px;
    width: 50%;
}
#create {
    width: 200px;
    height: 100px;
}
.field {
    padding-top: 15px;
    padding-bottom: 15px;
}
.end-content {
    padding-top: 60px;
}
